<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./CSS/index.css" type="text/css">
    <link rel="stylesheet" href="./CSS/general.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Rails Curriculim</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo"><a href="index.html">Brand .</a></div>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Acceuil</a></li>
                    <li><a href="./curriculum.html">Curriculum</a></li>
                    <li><a href="./à propos.html">A Propos</a></li>
                    <li><a href="./blog.html">Blog</a></li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    <li><a href="">Login</a></li>
                    <li> <span>|</span></li>
                    <li><a href="">Sign up</a></li>
                </ul>
            </div>
        </nav>
        <div class="header">
            <h1>VALUE PROPOSITION</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos provident consequatur vitae. Dicta
                perspiciatis quod tempore suscipit, ad natus quaerat quibusdam assumenda reiciendis earum atque labore
                provident, eos, vel a.</p>
        </div>

        <a class="button" href="#">Rejoindre le Curriculum</a>


    </header>
    <section class="explication">
        <p>Avec <strong>Brand</strong> vous allez apprendre le béaba du <strong>développement web</strong> et vous
            deviendrez intarissable sur des technologies tel que <strong>HTML, CSS, Javascript, Ruby on Rails</strong>
            et bien d'autres! <br>
            Une fois votre curriculum achevé, vous serez en mesure de <strong>maquetter</strong> un site web, d'integrer
            votre maquette avec les technologies <strong>front-end</strong>, de la rendre dynamique et vivant grâce à
            <strong>Ruby on Rails</strong>, de le versionner avec <strong>Git</strong> et plus encore, le montrer au
            monde entier en l'hébergeant sur <strong>Heroku</strong>.
        </p>
        <div class="img-presentation">
            <div class="doc">
                <img src="./images/noun_html document_1084864.png" alt="img-document">
                <p>Apprenez les fondamentaux du web.</p>
            </div>
            <div class="laptop">
                <img src="./images/noun_Laptop Code_345754.png" alt="img-laptop">
                <p>Codez des applications web robustes et responsives.</p>

            </div>
            <div class="community">
                <img src="./images/noun_Community_223566.png" alt="img-community">
                <p>Trouvez de l'aide aupres de la communauté.</p>
            </div>
        </div>
        <a class="button" href="#">Rejoindre le Curriculum</a>
    </section>
    <section class="languages">
        <h2>Vu et re-vu dans la formation </h2>
        <div class="barre-hor"></div>
        <div class="logoLang">
            <img src="./images/noun_html_2457404.png" alt="logo-html">
            <img src="./images/noun_CSS_414777.png" alt="logo-css">
            <img src="./images/noun_javascript_980559.png" alt="logo-js">
            <img src="./images/noun_gem_2249175.png" alt="logo-RoR">
        </div>
        <div class="barre-hor"></div>
    </section>
    <footer>
        <div class="grey">
            <h3>BRAND .</h3>
            <div class="left">
                <p>Rejoignez nous sur</p>
                <div class="barre-hor"></div>
                <div class="logoMedia">
                    <a href="#"><img
                            src="./images/kisspng-computer-icons-logo-follow-us-on-instagram-5b31753a2a01f9.1768786015299679301721.png"
                            alt="">
                    </a>
                    <a href="#"><img
                            src="./images/kisspng-github-computer-icons-clip-art-gits-5b4d20ab4d91f7.4085637115317812913177.png"
                            alt="">
                    </a>
                    <a href="#"><img
                            src="./images/kisspng-social-media-computer-icons-discord-computer-serve-5b5766bb3903d0.4755453715324545872335.png"
                            alt="">
                    </a>
                </div>
            </div>
            <div class="right">
                <a href="#">Mentions Légales</a>
                <a href="#">FAQs</a>
                <a href="./blog.html">Blog</a>
                <a href="./à propos.html">A Propos</a>
            </div>
        </div>

    </footer>



    <script src="./script.js"></script>
</body>

</html>