<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/stylesheets/CSS/general.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/CSS/à propos.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Rails Curriculim</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="index.html">Brand .</a>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            </div>
            <div class="mobile">
                <div class="menu">
                    <ul>
                        <li><a href="./index.html">Acceuil</a></li>
                        <li><a href="./curriculum.html">Curriculum</a></li>
                        <li><a href="./à propos.html">A Propos</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                    </ul>
                </div>
                <div class="login">
                    <ul>
                        <li><a href="">Login</a></li>
                        <li> <span>|</span></li>
                        <li><a href="">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <footer>
        <div class="grey">
            <h3>BRAND .</h3>
            <div class="left">
                <p>Rejoignez nous sur</p>
                <div class="barre-hor"></div>
                <div class="logoMedia">
                    <a href="#"><img
                            src="../../assets/images/kisspng-computer-icons-logo-follow-us-on-instagram-5b31753a2a01f9.1768786015299679301721.png"
                            alt="">
                    </a>
                    <a href="#"><img
                            src="../../assets/images/kisspng-github-computer-icons-clip-art-gits-5b4d20ab4d91f7.4085637115317812913177.png"
                            alt="">
                    </a>
                    <a href="#"><img
                            src="../../assets/images/kisspng-social-media-computer-icons-discord-computer-serve-5b5766bb3903d0.4755453715324545872335.png"
                            alt="">
                    </a>
                </div>
            </div>
            <div class="right">
                <a href="#">Mentions Légales</a>
                <a href="#">FAQs</a>
                <a href="#">Blog</a>
                <a href="#">A Propos</a>
            </div>
        </div>

    </footer>



    <script src="../../assets/javascripts/scriptFront.js">

    </script>
</body>

</html>